.main {
  @apply w-full;
}

.main h1 {
    @apply text-4xl mb-8;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}


.main h2 {
  width: fit-content;
  width: -moz-fit-content;
  @apply ml-0 mr-auto hover:animate-pulse text-blue-500 text-xl font-medium mb-8;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 1, 1);
  }
}


.down-arrow {
  border-radius: 50%;
  transition: all 0.25s ease;
  @apply h-10 animate-bounce;
}


@media (hover: hover) {
  .down-arrow:hover {
      @apply bg-blue-100;
  }
}


.arrow-container {
  -webkit-tap-highlight-color: transparent;
  width: fit-content;
  block-size: fit-content;
  @apply flex justify-between;
}

