.portfolio article h2 {
    text-align: center;
    margin-bottom: 1rem;
    @apply text-xl text-blue-500;
}

.portfolio article ul {
    font-size: 1rem;
    list-style-type: circle;
    padding: 0 1rem 0 1rem;
    margin: 1rem;
}

/* 
the tailwind blue-100 color is #dbeafe 
the tailwind blue-500 color is #3b82f6 
*/
.projectBorder {
    background-image: linear-gradient(120deg, #ffffff, #3b82f6);
    border-radius: .35rem;
    padding: .35rem;
    display: inline-block;
    position: relative;
    margin-bottom: 2rem;
    box-shadow: .2rem .2rem .3rem darkgray;
}

.cardInfo {
    border-radius: .35rem;
    padding: 1rem;
    @apply text-xl border-blue-500 leading-relaxed bg-white;
}


.solid {
    margin-top: 1rem;
    @apply border-t-2 border-blue-500;
}


.links {
    display: flex;
    justify-content: space-around;
    margin: 1rem 1rem 0 1rem;
}

.links a {
    border-radius: 50%;
    transition: all 0.25s ease;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

@media (hover: hover) {
    .links a:hover {
        @apply bg-blue-300;
    }

    .cardInfo h2 a:hover {
        text-decoration: underline dotted;
    }
}