.portfolio article h2 {
    text-align: center;
    margin-bottom: 2vh;
    @apply text-xl text-blue-500;
}

.portfolio article ul {
    list-style-type: circle;
    padding: 0 2vw 0 2vw;
    margin: 2vh;
}

/* 
the tailwind blue-100 color is #dbeafe 
the tailwind blue-500 color is #3b82f6 
*/
.projectBorder {
    box-shadow: .2rem .35rem .2rem darkgray;
    background-image: linear-gradient(120deg, #dbeafe, #3b82f6);
    border-radius: .35rem;
    padding: .35rem;
    display: inline-block;
    position: relative;
}

.cardInfo {
    border-radius: .35rem;
    padding: 2vh 2vh 2vh 2vh;
    @apply text-xl border-blue-500 text-xl leading-relaxed bg-white;
}


.solid {
    margin-top: 2vh;
    @apply border-t-2 border-blue-500;
}


.links {
    display: flex;
    justify-content: space-around;
    margin: 2vh 2vh 0 2vh;
}

.links a {
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    padding: .5em;
}

@media (hover: hover) {
    .links a:hover {
        border-radius: 50%;
        @apply bg-blue-100;
    }

    .cardInfo h2 a:hover {
        text-decoration: underline dotted;
    }
}