.error {
  position: absolute;
  height: calc(100% - 3rem);
  width: 100%;
  left: 0;
  right: 0;
  top: 3rem;
  margin: auto;
  @apply text-center bg-gray-50;
}

.error div {
  @apply inline-block mx-auto;
}

.error h1 {
  font-size: 4rem;
  @apply text-center opacity-10;
}

.error p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.error button {
  font-size: 1rem;
  @apply shadow bg-transparent hover:bg-blue-500 text-blue-500 hover:text-white py-1 px-2 border border-blue-500 hover:border-transparent rounded;
}
