.icon {
    font-size: 3rem;
    @apply mx-auto mb-10 mt-10;
}

.iconLight {
    font-size: 3rem;
    @apply mx-auto mb-10 mt-10 text-blue-100;
}

.iconStyle {
    font-size: 2rem;
}

.iconStyleSmall {
    font-size: 1rem;
}
