.icon {
    height: auto;
    font-size: 3rem;
    @apply mx-auto mb-10 mt-10;
}

.iconLight {
    height: auto;
    font-size: 3rem;
    @apply mx-auto mb-10 mt-10 text-blue-100;
}

.iconStyle {
    height: auto;
    font-size: 2rem;
    padding: .25rem;
}

.iconStyleSmall {
    height: auto;
    font-size: 1.25rem;
}