.main {
    @apply text-4xl;
}

.marginTop {
    @apply mt-12;
}

.heroWrap {
    min-height: 100vh;
    padding-top: 2rem;
}

.componentWrap {
    min-height: 100vh;
}

.blueBackgroundWrap {
    min-height: 100vh;
    border-top-width: .35rem;
    border-bottom-width: .35rem;
    @apply bg-blue-500 border-blue-100;
}

.adaHeader {
    visibility: hidden;
    font-size: 0;
}