.sideMenu {
    min-height: 50vh;
    position: fixed;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
    padding-right: 0.75rem;
    width: 0;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
}


.sidebarButton {
    margin: 2vh 0 0 0;
}

.iconStyle {
    width: 100%;
    font-size: 2rem;
}