.sideMenu {
  min-height: 50vh;
  position: fixed;
  right: 0rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  z-index: 2;
  max-width: 0;
  height: auto;

  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;

  margin-top: 2rem;
}

.sidebarButton {
  border-radius: 50%;
  transition: all 0.25s ease;
  padding: 0.25rem;
  -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) {
  .sidebarButton:hover {
    @apply bg-blue-300;
  }
}
