.sideMenu {
    min-height: 50vh;
    position: fixed;
    right: 0rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    z-index: 2;
    max-width: 0;
    transition: max-width 0.15s;
    -webkit-transition: max-width 0.15s;
    -moz-transition: max-width 0.15s;
    -o-transition: max-width 0.15s;

    margin-top: 2rem;
}


/* padding: 0.125rem 0.25rem; */
.sidebarButton {
    padding: 0.25rem;
    -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) {
    .sidebarButton:hover {
        border-radius: 50%;
        @apply bg-blue-100;
    }
}