.imgBorder {
  padding: 1rem 1rem 1rem 1rem;
  border-width: 0.1rem;
  box-shadow: 0.2rem 0.2rem 0.3rem darkgray;
  @apply border-blue-500 bg-blue-200 rounded;
}

.certificateContainer {
  padding-bottom: 2rem;
}

.certificateContainer li:nth-child(2) {
  margin: 2rem 0;
}

.certificateContainer li:nth-child(3) {
  margin: 2rem 0;
}

.articleInfo {
  font-size: 1rem;
  margin: 2rem 0;
  line-height: 2.5rem;
}

.articleInfo h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.articleInfo a {
  color: blue;
  text-decoration: underline;
}
